@charset "UTF-8";
/* MAPS-GET() ESTILOS GENERALES */
.presentacion {
  background-color: #414833;
  align-items: center; }
  .presentacion p {
    color: lightgrey;
    font-family: MuseoModerno;
    text-align: center; }

/* MAPS REDES */
/*Declaramos nuestro mapa*/
/*Creamos el bucle para usar los valores del mapa*/
.facebook:hover {
  background-color: #4267B2; }

.instagram:hover {
  background-color: #E1306C; }

/*  BOTONES CONTACTO    */
.btnFormContacto, .btnFormContacto--aceptar, .btnFormContacto--cancelar {
  font-family: MuseoModerno;
  color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 20px; }

.btnFormContacto--aceptar {
  border: 1px solid black;
  margin: 10px;
  background-color: lightblue;
  margin-left: 5%; }
  .btnFormContacto--aceptar:hover {
    background-color: #4267B2; }

.btnFormContacto--cancelar {
  border: 1px solid black;
  background-color: lightcoral;
  margin: 10px;
  margin-left: 5%; }
  .btnFormContacto--cancelar:hover {
    background-color: orangered; }

/*--------------------------------------------------------------*/
/*  ESTILOS GENERALES  */
/*--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%;
  background-color: #414833; }

/*--------------------------------------------------------------*/
/*  HEADER ALL PAGES  */
/*--------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #414833;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-image: linear-gradient(to top, #414833, #778162); }
  .header .imgHeader {
    width: 10%;
    height: 100%; }
  .header .miNav {
    background-image: linear-gradient(to top, #414833, #778162); }
    .header .miNav .navHome {
      font-family: MuseoModerno;
      color: lightgrey;
      font-size: 18px; }
      .header .miNav .navHome:hover {
        color: #a2a50e; }
    .header .miNav .menu li {
      background-image: linear-gradient(to top, #414833, #778162); }
      .header .miNav .menu li .menuNosotros {
        font-size: 15px;
        color: lightgrey;
        font-family: MuseoModerno;
        transition: all 0,5s; }
        .header .miNav .menu li .menuNosotros:hover {
          color: #a2a50e; }
      .header .miNav .menu li a {
        font-size: 15px;
        color: lightgrey;
        font-family: MuseoModerno;
        transition: all 0,5s; }
        .header .miNav .menu li a:hover {
          color: #a2a50e; }
      .header .miNav .menu li .submenu li {
        background-image: linear-gradient(to right, #414833, #778162); }
        .header .miNav .menu li .submenu li a:hover {
          color: #a2a50e;
          background-image: linear-gradient(to right, #414833, #778162); }

/*--------------------------------------------------------------*/
/*  STYLES INDEX  */
/*--------------------------------------------------------------*/
/* PRESENTACION */
.presentacion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  .presentacion .miCarrusel {
    width: 40%;
    height: auto;
    transition: all 2s;
    filter: grayscale(100%); }
    .presentacion .miCarrusel img {
      border-radius: 1%; }
    .presentacion .miCarrusel:hover {
      filter: none;
      transform: scale(1.4); }
  .presentacion p {
    width: 80vw;
    height: 30vh;
    margin: 15px 0;
    font-family: MuseoModerno; }

/* NOVEDADES */
.novedades {
  background-color: #414833;
  background-image: linear-gradient(to left, #778162, #414833);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly; }
  .novedades ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 0; }
    .novedades ul li {
      list-style-type: none; }
      .novedades ul li a {
        text-decoration: none;
        color: lightgrey;
        font-family: MuseoModerno;
        font-size: 20px;
        text-align: justify;
        transition: all 1s; }
        .novedades ul li a:hover {
          font-size: 25px;
          color: #a2a50e; }
  .novedades h2 {
    font-family: MuseoModerno;
    color: lightgrey;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s; }
    .novedades h2:hover {
      color: #a2a50e;
      font-size: 20px; }
  .novedades h3 {
    color: lightcoral;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s; }
    .novedades h3:hover {
      font-size: 22px; }
  .novedades a {
    text-decoration: none;
    color: #a2a50e;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify; }

/*VIDEOS */
.video {
  background-color: #414833;
  background-image: linear-gradient(to left, #414833, #778162);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .video iframe {
    margin: 5px;
    width: 200px;
    height: 120px; }
    .video iframe:hover {
      border: solid 3px #a2a50e; }
  .video p {
    padding-left: 10px;
    color: #07073d;
    font-size: 16px;
    /* width: 250px; */
    transition: all 1s;
    font-family: MuseoModerno; }
    .video p:hover {
      color: #a2a50e;
      font-size: 20px; }

/*--------------------------------------------------------------*/
/*  STYLES MAIN - NOSOTROS  */
/*--------------------------------------------------------------*/
.reseña {
  background-color: #414833;
  font-family: MuseoModerno;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  .reseña h2 {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    transition: all 1s; }
    .reseña h2:hover {
      color: #a2a50e; }
  .reseña p {
    text-align: justify;
    padding: 10px 90px 25px 90px;
    transition: all 1s; }
    .reseña p:hover {
      color: #a2a50e; }

.contactoNosotros {
  background-color: #414833;
  font-family: MuseoModerno;
  color: lightgrey;
  border-bottom: 2px solid lightgreen;
  border-top: 2px solid lightgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }
  .contactoNosotros h3 {
    font-size: 20px; }

.ubicacion {
  background-color: #414833;
  font-family: MuseoModerno;
  color: lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around; }
  .ubicacion h3 {
    transition: all 1s; }
    .ubicacion h3:hover {
      color: #a2a50e; }
  .ubicacion p {
    transition: all 1s; }
    .ubicacion p:hover {
      color: #a2a50e; }
  .ubicacion iframe {
    width: 300px;
    height: 200px;
    margin: 10px 0; }

body {
  background-color: #414833; }

/* CONTACTO */
.contacto {
  font-family: MuseoModerno;
  color: lightgrey;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  .contacto h1 {
    padding: 5px;
    align-self: flex-start;
    margin: 20px 0 0 3%; }
  .contacto h2 {
    border-bottom: 2px dotted lightgreen;
    align-self: stretch;
    margin-left: 20%; }

/* FORMULARIO */
.formulario {
  background-color: #414833;
  background-image: linear-gradient(to bottom, #414833, #778162); }
  .formulario .formulario__contenido {
    font-family: MuseoModerno;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 5%; }
    .formulario .formulario__contenido input {
      transition: all 2s;
      width: 35%; }
      .formulario .formulario__contenido input:focus {
        width: 50%;
        font-size: 24px; }
    .formulario .formulario__contenido select {
      width: 20%; }
    .formulario .formulario__contenido textarea {
      width: 60%;
      margin-bottom: 1%; }
  .formulario .chkboxForm {
    font-family: MuseoModerno;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline; }
    .formulario .chkboxForm p {
      margin-left: 5%;
      color: #030333; }
    .formulario .chkboxForm input {
      margin-left: 15px; }

.mapaForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .mapaForm iframe {
    width: 80%;
    height: 92%;
    margin: 10px; }

.carruselContacto {
  width: 70%;
  height: auto;
  transition: all 0,5s;
  padding: 5px; }
  .carruselContacto:hover {
    border: solid 3px #a2a50e; }

/*--------------------------------------------------------------*/
/*  STYLES MAIN - PRODUCTOS  */
/*--------------------------------------------------------------*/
.titulo {
  padding: 5px;
  font-family: MuseoModerno;
  color: lightgrey;
  text-align: center; }

.catalogo {
  background-color: #414833;
  padding: 0 20px;
  font-family: MuseoModerno;
  color: lightgrey;
  transition: all 1s; }
  .catalogo h2 {
    margin: 5px; }
    .catalogo h2:hover {
      color: #a2a50e; }
  .catalogo h4 {
    border-bottom: 2px dotted lightgreen;
    margin: 10px 10px 0 10px;
    padding-bottom: 5px;
    text-align: center; }
    .catalogo h4:hover {
      color: #a2a50e; }
  .catalogo p {
    margin: 10px 10px 0 10px;
    text-align: justify; }
  .catalogo .cocinas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .catalogo .cocinas img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .cocinas img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .cocinas iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .dormitorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .dormitorios img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .dormitorios img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .dormitorios iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .livings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .livings img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .livings img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .livings iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .escritorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .escritorios img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .escritorios img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .escritorios iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .exterior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .exterior img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .exterior img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .exterior iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .racks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .racks img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .racks img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .racks iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .qubos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: flex;
        flex-wrap: wrap; */ }
    .catalogo .qubos img {
      width: 200px;
      height: 120px;
      padding: 5px;
      transition: all 2s; }
      .catalogo .qubos img:hover {
        transform: scale(1.9);
        z-index: 1; }
    .catalogo .qubos iframe {
      width: 200px;
      height: 120px;
      padding: 5px; }
  .catalogo .carruselProductos {
    width: 250px;
    height: 140px;
    padding: 5px;
    transition: all 2s;
    z-index: 0; }
    .catalogo .carruselProductos:hover {
      transform: scale(1.9); }

/*--------------------------------------------------------------*/
/*  STYLES MAIN - SERVICIOS  */
/*--------------------------------------------------------------*/
.servicios {
  font-family: MuseoModerno;
  color: lightgrey;
  background-color: #414833;
  text-align: center; }
  .servicios .tituloLimpieza {
    text-align: center;
    margin: 10px;
    transition: all 1s; }
  .servicios h1 {
    text-align: start;
    margin: 10px;
    transition: all 1s;
    background-image: linear-gradient(to right, #414833, #778162); }
    .servicios h1:hover {
      color: #a2a50e; }
  .servicios .limpieza {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: justify;
    margin-bottom: 15px;
    border-bottom: 2px dotted lightgreen;
    padding: 0 20px;
    background-image: linear-gradient(to top, #414833, #778162); }
    .servicios .limpieza span {
      color: #a2a50e; }
  .servicios .preguntas {
    border-bottom: 2px dotted lightgreen;
    display: flex;
    background-image: linear-gradient(to top, #414833, #778162); }
    .servicios .preguntas .miAcordion {
      width: 70%;
      height: auto;
      padding: 5px; }
      .servicios .preguntas .miAcordion .miAcordion__item {
        /* font-family: $fuente; */
        color: #a2a50e;
        background-color: #414833;
        font-size: 16px;
        text-align: justify; }
        .servicios .preguntas .miAcordion .miAcordion__item .miAcordion__btn {
          /* font-family: $fuente; */
          color: coral;
          font-size: 16px;
          background-color: #778162;
          height: 10px;
          padding: 15px; }
        .servicios .preguntas .miAcordion .miAcordion__item .miAcordion__btn:focus {
          background-color: lightcoral;
          color: darkblue; }

.verificacion {
  display: flex;
  text-align: justify;
  padding: 0 20px;
  background-image: linear-gradient(to top, #414833, #778162); }
  .verificacion span {
    color: darkblue; }

/*--------------------------------------------------------------*/
/*  FOOTER ALL PAGES  */
/*--------------------------------------------------------------*/
.footer {
  border-top: 2px solid lightgrey;
  color: lightgrey;
  font-family: MuseoModerno;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: end;
  background-image: linear-gradient(to top, #414833, #778162);
  padding-bottom: 15px; }
  .footer img {
    width: 100px;
    height: 55px;
    display: inline-block;
    margin: 10px 0 0 10px; }
  .footer h4 {
    transition: all 1s; }
    .footer h4:hover {
      color: #a2a50e; }
  .footer .redes img {
    width: 32px;
    height: 32px; }
  .footer .redes .facebook:hover {
    border-radius: 50%; }
  .footer .redes .instagram:hover {
    border-radius: 40%; }

/*----------------------------------------------------------------------------------------------------------*/
/* HEADER Y FOOTER - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/
/*  TABLET  */
@media screen and (max-width: 768px) {
  .header {
    font-size: 13px; }
    .header .miNav .navHome {
      font-size: 13px !important; }
    .header .miNav .menu li a {
      font-size: 13px !important; }
    .header .imgHeader {
      width: 120px;
      height: 60px; }
  .footer {
    justify-content: space-between;
    align-items: flex-end; }
    .footer h4 {
      font-size: 13px; }
    .footer img {
      width: 100px;
      height: 35px; }
    .footer .redes img {
      width: 24px;
      height: 24px; } }

/*  MOBILE  */
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .header .miNav .navHome {
      font-size: 10px !important; }
    .header .miNav .menu li a {
      font-size: 10px !important; }
    .header .imgHeader {
      width: 80px;
      height: 40px; }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px;
    align-items: center; }
    .footer h4 {
      font-size: 13px; }
    .footer img {
      width: 95px;
      height: 40px;
      margin-bottom: 10px; }
    .footer .redes img {
      width: 20px;
      height: 20px; } }

/*----------------------------------------------------------------------------------------------------------*/
/*      INDEX - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/
/*  TABLET  */
@media screen and (max-width: 768px) {
  .presentacion {
    font-size: 13px; }
  .novedades {
    flex-wrap: wrap; }
    .novedades ul {
      align-items: center; }
      .novedades ul li a {
        font-size: 13px; }
    .novedades a {
      font-size: 13px;
      text-align: center; }
    .novedades h2 {
      font-size: 13px;
      text-align: center; }
    .novedades h3 {
      font-size: 13px;
      text-align: center; }
  .video {
    flex-wrap: wrap; }
    .video iframe {
      width: 100%; }
    .video p {
      font-size: 13px;
      width: 100%; } }

/*  MOBILE  */
@media screen and (max-width: 480px) {
  .presentacion {
    font-size: 10px;
    flex-wrap: wrap; }
    .presentacion p {
      font-size: 10px;
      overflow: scroll; }
  .novedades {
    flex-wrap: wrap; }
    .novedades ul {
      align-items: center;
      padding-left: 0; }
      .novedades ul li {
        list-style-type: none; }
        .novedades ul li a {
          font-size: 10px; }
    .novedades h2 {
      text-align: center;
      font-size: 10px; }
      .novedades h2:hover {
        font-size: 14px; }
    .novedades h3 {
      text-align: center;
      font-size: 10px; }
      .novedades h3:hover {
        font-size: 11px; }
    .novedades a {
      font-size: 10px;
      text-align: center; }
  .video {
    flex-direction: column;
    flex-wrap: wrap; }
    .video iframe {
      width: 100%;
      height: 70%; }
    .video p {
      font-size: 10px;
      width: 100%;
      transition: all 1s; }
      .video p:hover {
        font-size: 14px; } }

/*---------------------------------------------------------------------------------------------------------*/
/* NOSOTROS - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/
/*  TABLET  */
@media screen and (max-width: 768px) {
  .reseña {
    justify-content: center;
    align-items: center; }
    .reseña h2 {
      font-size: 18px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    .reseña p {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
  .contactoNosotros {
    justify-content: center;
    font-size: 14px; }
    .contactoNosotros h3 {
      font-size: 12px; }
    .contactoNosotros h5 {
      font-size: 12px; }
  .ubicacion {
    align-items: center; }
    .ubicacion h3 {
      font-size: 18px; }
    .ubicacion p {
      font-size: 13px; }
    .ubicacion iframe {
      width: 215px;
      height: 120px;
      margin: 10px 0; } }

/*  MOBILE  */
@media screen and (max-width: 480px) {
  .reseña {
    justify-content: center;
    align-items: center; }
    .reseña h2 {
      font-size: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    .reseña p {
      font-size: 10px;
      height: 250px;
      overflow: scroll; }
  .contactoNosotros {
    flex-direction: column;
    justify-content: center; }
    .contactoNosotros h3 {
      font-size: 10px; }
    .contactoNosotros h5 {
      font-size: 10px; }
  .ubicacion {
    flex-direction: column;
    justify-content: center; }
    .ubicacion h3 {
      font-size: 13px; }
    .ubicacion p {
      font-size: 10px; }
    .ubicacion iframe {
      width: 200px;
      height: 100px;
      margin: 5px 0; } }

/*---------------------------------------------------------------------------------------------------------*/
/* CONTACTO - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
/*  TABLET  */
@media screen and (max-width: 768px) {
  .contacto {
    flex-direction: column;
    justify-content: center; }
    .contacto h1 {
      font-size: 18px; }
    .contacto h2 {
      font-size: 18px; }
  .formulario__contenido {
    font-size: 14px; }
    .formulario__contenido input:focus {
      width: 55%;
      font-size: 18px; }
  .chkboxForm input {
    margin-left: 10px; }
    .chkboxForm input p {
      font-size: 14px; }
  .btnFormContacto--aceptar {
    font-size: 9px;
    margin-left: 10%; }
  .btnFormContacto--cancelar {
    font-size: 9px;
    margin-left: 10%; }
  .mapaForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .mapaForm iframe {
      width: 280px;
      height: 150px; }
  .imgForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
  .carruselContacto {
    width: 290px;
    height: auto; } }

/*  MOBILE  */
@media screen and (max-width: 480px) {
  .contacto {
    flex-direction: column;
    justify-content: center; }
    .contacto h1 {
      font-size: 14px; }
    .contacto h2 {
      font-size: 12px; }
  .formulario {
    padding-left: 0; }
    .formulario .formulario__contenido {
      font-size: 10px; }
      .formulario .formulario__contenido input:focus {
        width: 25%;
        font-size: 10px; }
  .chkboxForm input {
    margin-left: 5px; }
  .chkboxForm p {
    font-size: 10px; }
  .btnFormContacto--aceptar {
    font-family: MuseoModerno;
    color: #030333;
    font-size: 10px;
    background-color: lightblue;
    margin-left: 5%; }
  .btnFormContacto--cancelar {
    font-family: MuseoModerno;
    color: #030333;
    font-size: 10px;
    background-color: lightcoral;
    margin-left: 5%; }
  .mapaForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .mapaForm iframe {
      width: 215px;
      height: 120px; }
  .imgForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
  .carruselContacto {
    width: 230px;
    height: auto; } }

/*---------------------------------------------------------------------------------------------------------*/
/* PRODUCTOS - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .titulo {
    font-size: 18px; }
  .catalogo {
    padding: 0 10px; }
    .catalogo h2 {
      margin: 5px;
      font-size: 18px; }
    .catalogo h4 {
      margin: 5px 5px 0 5px;
      text-align: center;
      font-size: 14px; }
    .catalogo p {
      margin: 5px 5px 0 5px;
      text-align: justify;
      font-size: 12px; }
  .catalogo h2 {
    margin: 5px;
    font-size: 18px; }
  .cocinas img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .cocinas iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .dormitorios img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .dormitorios iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .livings img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .livings iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .escritorios img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .escritorios iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .exterior img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .exterior iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .racks img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .racks iframe {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .qubos img {
    width: 140px;
    height: 90px;
    padding: 3px; }
  .qubos iframe {
    width: 140px;
    height: 90px;
    padding: 3px; } }

/*MOBILE*/
@media screen and (max-width: 480px) {
  .titulo {
    font-size: 15px; }
  .catalogo {
    padding: 0 10px; }
    .catalogo h2 {
      margin: 5px;
      font-size: 12px; }
    .catalogo h4 {
      margin: 5px 5px 0 5px;
      text-align: center;
      font-size: 10px; }
    .catalogo p {
      margin: 5px 5px 0 5px;
      text-align: justify;
      font-size: 10px; }
  .cocinas img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .cocinas iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .dormitorios img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .dormitorios iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .livings img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .livings iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .escritorios img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .escritorios iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .exterior img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .exterior iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .racks img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .racks iframe {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .qubos img img {
    width: 100px;
    height: 75px;
    padding: 2px; }
  .qubos img iframe {
    width: 100px;
    height: 75px;
    padding: 2px; } }

/*---------------------------------------------------------------------------------------------------------*/
/* SERVICIOS - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .servicios .tituloLimpieza {
    margin: 15px;
    font-size: 18px; }
  .servicios .limpieza {
    margin-bottom: 10px;
    padding: 0 15px; }
    .servicios .limpieza p {
      font-size: 11px; }
    .servicios .limpieza h5 {
      margin: 5px;
      font-size: 14px; }
    .servicios .limpieza ul li {
      font-size: 10px; }
  .servicios h1 {
    margin: 7px;
    font-size: 18px; }
  .servicios .preguntas .miAcordion {
    width: 80%;
    height: auto;
    padding: 15px; }
    .servicios .preguntas .miAcordion .miAcordion__item {
      font-size: 12px;
      text-align: justify; }
      .servicios .preguntas .miAcordion .miAcordion__item .miAcordion__btn {
        font-size: 12px;
        padding: 13px; }
  .servicios .verificacion {
    padding: 0 10px; }
    .servicios .verificacion p {
      font-size: 10px; } }

/*MOBILE*/
@media screen and (max-width: 480px) {
  .servicios .tituloLimpieza {
    margin: 10px;
    font-size: 13px; }
  .servicios .limpieza {
    margin-bottom: 7px;
    padding: 0 10px; }
    .servicios .limpieza p {
      font-size: 10px;
      padding-left: 5px; }
    .servicios .limpieza h5 {
      margin: 5px;
      font-size: 12px; }
    .servicios .limpieza ul li {
      font-size: 10px; }
  .servicios h1 {
    margin: 5px;
    font-size: 14px; }
  .servicios .preguntas .miAcordion {
    width: 70%;
    height: auto; }
    .servicios .preguntas .miAcordion .miAcordion__item {
      font-size: 10px;
      text-align: justify; }
      .servicios .preguntas .miAcordion .miAcordion__item .miAcordion__btn {
        font-size: 10px; }
  .servicios .verificacion {
    padding: 0 10px; }
    .servicios .verificacion p {
      font-size: 10px; } }
