/*--------------------------------------------------------------*/
/*  ESTILOS GENERALES  */
/*--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%;
  background-color: #414833; }

/*--------------------------------------------------------------*/
/*  HEADER ALL PAGES  */
/*--------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: row;
  background-color: #414833;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-image: linear-gradient(to top, #414833, #778162); }
  .header .imgHeader {
    width: 10%;
    height: 100%; }
  .header .miNav {
    background-image: linear-gradient(to top, #414833, #778162); }
    .header .miNav .navHome {
      font-family: MuseoModerno;
      color: lightgrey !important;
      font-size: 18px !important; }
      .header .miNav .navHome:hover {
        color: #a2a50e !important; }
    .header .miNav .menu li {
      background-image: linear-gradient(to top, #414833, #778162); }
      .header .miNav .menu li a {
        font-size: 15px !important;
        color: lightgray !important;
        font-family: MuseoModerno;
        transition: all 0,5s; }
        .header .miNav .menu li a:hover {
          color: #a2a50e !important; }
      .header .miNav .menu li .submenu li {
        background-image: linear-gradient(to right, #414833, #778162); }
        .header .miNav .menu li .submenu li a:hover {
          color: #a2a50e !important;
          background-image: linear-gradient(to right, #414833, #778162); }

/*--------------------------------------------------------------*/
/*  STYLES INDEX  */
/*--------------------------------------------------------------*/
/* PRESENTACION */
.presentacion {
  background-color: #414833;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: presentacion; }
  .presentacion .miCarrusel {
    width: 40%;
    height: auto;
    transition: all 2s;
    filter: grayscale(100%); }
    .presentacion .miCarrusel img {
      border-radius: 1%; }
    .presentacion .miCarrusel:hover {
      filter: none;
      transform: scale(1.4); }
  .presentacion p {
    width: 80vw;
    height: 30vh;
    color: lightcoral;
    border: 3px solid whitesmoke;
    font-family: MuseoModerno;
    overflow: scroll;
    margin: 15px 0; }

/* NOVEDADES */
.novedades {
  background-color: #414833;
  background-image: linear-gradient(to left, #778162, #414833);
  display: flex;
  flex-direction: column;
  grid-area: novedades;
  justify-content: space-evenly; }
  .novedades ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .novedades ul li {
      list-style-type: none; }
      .novedades ul li a {
        text-decoration: none;
        color: lightgrey;
        font-family: MuseoModerno;
        padding: 5px;
        font-size: 25px;
        text-align: justify;
        transition: all 1s; }
        .novedades ul li a:hover {
          font-size: 30px;
          color: #a2a50e; }
  .novedades h2 {
    font-family: MuseoModerno;
    color: lightgray;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s; }
    .novedades h2:hover {
      color: #a2a50e;
      font-size: 20px; }
  .novedades h3 {
    color: lightcoral;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s; }
    .novedades h3:hover {
      font-size: 22px; }
  .novedades a {
    text-decoration: none;
    color: yellow;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify; }

/*VIDEOS */
.video {
  background-color: #414833;
  background-image: linear-gradient(to left, #414833, #778162);
  color: #a4ac86;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  grid-area: video;
  flex-wrap: wrap; }
  .video iframe {
    margin: 5px;
    width: 200px;
    height: 120px; }
  .video p {
    padding-left: 10px;
    color: #07073d;
    font-size: 16px;
    /* width: 250px; */
    transition: all 1s; }
    .video p:hover {
      color: #a2a50e;
      font-size: 20px; }

/*--------------------------------------------------------------*/
/*  FOOTER ALL PAGES  */
/*--------------------------------------------------------------*/
.footer {
  border-top: 2px solid lightslategray;
  color: lightgray;
  font-family: MuseoModerno;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  grid-area: footer;
  background-image: linear-gradient(to top, #414833, #778162);
  padding-bottom: 15px; }
  .footer img {
    width: 100px;
    height: 55px;
    display: inline-block;
    margin: 10px 0 0 10px; }
  .footer h4 {
    transition: all 1s; }
    .footer h4:hover {
      color: #a2a50e; }
  .footer .redes img {
    width: 32px;
    height: 32px; }
  .footer .redes .imgFace:hover {
    background-color: coral;
    border-radius: 50%; }
  .footer .redes .imgInsta:hover {
    background-color: coral;
    border-radius: 40%; }

/*----------------------------------------------------------------------------------------------------------*/
/* HEADER Y FOOTER - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/
/*  MOBILE  */
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap; }
    .header .miNav .navHome {
      font-size: 6px !important; }
    .header .miNav .menu li a {
      font-size: 6px !important; }
    .header .imgHeader {
      width: 80px;
      height: 40px; }
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 10px; }
    .footer h4 {
      font-size: 8px; }
    .footer img {
      width: 55px;
      height: 15px; }
    .footer .redes img {
      width: 16px;
      height: 16px; } }

/*  TABLET  */
@media screen and (max-width: 768px) {
  .header {
    font-size: 13px; }
    .header .miNav .navHome {
      font-size: 13px !important; }
    .header .miNav .menu li a {
      font-size: 13px !important; }
    .header .imgHeader {
      width: 120px;
      height: 60px; }
  .footer {
    font-size: 13px;
    justify-content: space-between;
    align-items: center; }
    .footer h4 {
      font-size: 13px; }
    .footer img {
      width: 100px;
      height: 35px; }
    .footer .redes img {
      width: 24px;
      height: 24px; } }

/*----------------------------------------------------------------------------------------------------------*/
/* INDEX - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/
/*  MOBILE  */
@media screen and (max-width: 480px) {
  .presentacion {
    font-size: 10px;
    flex-wrap: wrap; }
  .novedades {
    flex-wrap: wrap; }
    .novedades ul {
      align-items: center; }
      .novedades ul li a {
        font-size: 10px; }
    .novedades a {
      font-size: 10px;
      text-align: center; }
    .novedades h2 {
      font-size: 10px;
      text-align: center; }
    .novedades h3 {
      font-size: 10px;
      text-align: center; }
  .video {
    flex-direction: column;
    flex-wrap: wrap; }
    .video iframe {
      width: 90px;
      height: 53px; }
    .video p {
      font-size: 10px;
      width: 100px; } }

/*  TABLET  */
@media screen and (max-width: 768px) {
  .presentacion {
    font-size: 13px; }
  .novedades {
    flex-wrap: wrap; }
    .novedades ul {
      align-items: center; }
      .novedades ul li a {
        font-size: 13px; }
    .novedades a {
      font-size: 13px;
      text-align: center; }
    .novedades h2 {
      font-size: 13px;
      text-align: center; }
    .novedades h3 {
      font-size: 13px;
      text-align: center; }
  .video {
    flex-wrap: wrap; }
    .video iframe {
      width: 90px;
      height: 53px; }
    .video p {
      font-size: 13px;
      width: 200px; } }
