 *{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
    background-color: #414833;
}

/*--------------------------------------------------------------*/
                    /*  HEADER ALL PAGES  */
/*--------------------------------------------------------------*/

.header {
    display: flex;
    flex-direction: row; 
    background-color: #414833;
    justify-content: space-between;
    align-items:center;   
    grid-area: header;
    background-image: linear-gradient(to top, #414833 , #778162);
}

.imgHeader{
    width: 10%;
    height:100%;
}   

.miNav{
    background-image: linear-gradient(to top, #414833 , #778162);
}

.navHome{
    font-family: MuseoModerno;
    color: lightgrey !important;
    font-size: 18px !important;
} 

.menu li{
    background-image: linear-gradient(to top, #414833 , #778162);
}

.menu li a{
    font-size: 15px !important;
    color: lightgray !important;
    font-family: MuseoModerno;
    transition: all 0,5s;
}

.menu li a:hover{
    color: rgb(162, 165, 14) !important;
}

.navHome:hover{
    color: rgb(162, 165, 14) !important;
}

.submenu li{
    background-image: linear-gradient(to right, #414833 , #778162);
}

.submenu li a:hover{
    color: rgb(162, 165, 14) !important;
    background-image: linear-gradient(to right, #414833 , #778162);
}

/*--------------------------------------------------------------*/
                    /*  STYLES MAIN INDEX  */
/*--------------------------------------------------------------*/

            /* MAIN - PRESENTACION */

.presentacion{
    background-color: #414833;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: presentacion;
}

.miCarrusel{
    width: 40%;
    height: auto; 
    /* padding: 10px; */
     transition: all 2s; 
    filter: grayscale(100%);
}

.miCarrusel img{
    border-radius: 1%;
}

.miCarrusel:hover{
    filter: none;
    /* width: 70%; */
    transform: scale(1.4);
}


.presentacion p{
    /* width: 80vw;
    height: 15vw; */
    width: 80vw;
    height: 30vh;
    color: lightcoral;
    border: 3px solid whitesmoke;
    font-family: MuseoModerno;
    overflow:scroll;
    margin: 15px 0;
} 

            /* MAIN - NOVEDADES */

.novedades{
    background-color: #414833;
    background-image: linear-gradient(to left,#778162, #414833 );
    display: flex;
    flex-direction: column;
    grid-area: novedades;
    justify-content: space-evenly;
}

.novedades ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.novedades li{
    list-style-type:none;
}

.novedades ul li a{
    text-decoration: none;
    color: lightgrey;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 25px;
    text-align: justify;
    transition: all 1s;
} 

.novedades ul li a:hover {
    font-size: 30px;
    color: rgb(162, 165, 14);
}

.novedades h2{
    font-family: MuseoModerno;    
    color: lightgray;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s;
} 

.novedades h2:hover{
    color: rgb(162, 165, 14);
    font-size: 20px;
}

.novedades h3{
    color: lightcoral;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.7;
    transition: all 1s;
}

.novedades h3:hover{
    /* color: rgb(162, 165, 14);  */
    font-size: 22px;
} 


.novedades a{
    text-decoration: none;
    color: yellow;
    font-family: MuseoModerno;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
}

            /* MAIN - VIDEOS */

.video{
    background-color: #414833;
    background-image: linear-gradient(to left, #414833 , #778162);
    color: #a4ac86;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    grid-area: video;
    flex-wrap: wrap;
}


.video iframe{
    margin: 5px;
    width: 200px;
    height: 120px;
}

.video p{
    padding-left: 10px;
    color: rgb(7, 7, 61);
    font-size: 16px;
    transition: all 1s;    
}

.video p:hover{
    color: rgb(162, 165, 14);
    font-size: 20px;
}


/*--------------------------------------------------------------*/
                    /*  STYLES MAIN - CONTACTO  */
/*--------------------------------------------------------------*/

            /*MAIN - CONTACTO */
body{
    background-color: #414833;
}

.contacto{
    font-family: MuseoModerno;
    color: lightgray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.contacto h1{
    padding: 5px;
    align-self: flex-start;
    margin: 20px 0 0 3%;
}

.contacto h2{
    border-bottom: 2px dotted lightgreen;
    align-self:stretch;
    margin-left: 20%;
}

            /*MAIN - FORMULARIO */

.formulario{
    background-color: #414833;
    background-image: linear-gradient(to bottom,#414833, #778162);
}            

.formulario__contenido{
    font-family: MuseoModerno;
    color: lightgray;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.formulario__contenido input{
    transition: all 2s;
    width: 35%;
}

.formulario__contenido input:focus {
    width: 50%;
    font-size: 24px;
}

.formulario__contenido select{
    width: 20%;
}

.formulario__contenido textarea{
    width: 60%;
    margin-bottom: 1%;
}

.chkboxForm{
    font-family: MuseoModerno;
    color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.chkboxForm p{
    margin-left: 5%;
    color: rgb(3, 3, 51);
}

.chkboxForm input{
    margin-left: 15px;
}

.btnFormContacto{
    font-family: MuseoModerno;
    color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnForm {
    font-family: MuseoModerno;
    font-weight: bold;
    color: rgb(3, 3, 51);
    margin: 10px;
    background-color: lightcoral;
    margin-left: 5%;
}

.btnForm:hover{
    background-color: darkslategrey;
}

.mapaForm { 
    display: flex;
    flex-direction: row;
}

.mapaForm iframe{
    width: 80%;
    height: 92%;
    margin: 10px;
}

.carruselContacto {
    width: 70%;
    height: auto; 
     transition: all 2s; 
     padding: 10px;
    /* filter: grayscale(100%); */
}

/*--------------------------------------------------------------*/
                    /*  STYLES MAIN - NOSOTROS  */
/*--------------------------------------------------------------*/

            /*MAIN - NOSOTROS*/

.reseña{
    background-color: #414833;
    font-family: MuseoModerno;
    color: lightgray;
    grid-area: reseña;
    display: flex;
    flex-direction: column;
}

.reseña h2{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    /* border: 2px solid lightgreen; */
    transition: all 1s;
}

.reseña h2:hover{
    color: rgb(162, 165, 14);
}

.reseña p{
    text-align:justify;
    padding: 10px 90px 25px 90px;
    transition: all 1s;
}

.reseña p:hover{
    color: rgb(162, 165, 14);
}

.contactoNosotros{
    background-color: #414833;
    font-family: MuseoModerno;
    color: lightgray;
    border-bottom: 2px solid lightgreen;
    border-top: 2px solid lightgreen;
    grid-area: contactoNosotros;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ubicacion{
    background-color: #414833;
    font-family: MuseoModerno;
    color: lightgray;
    grid-area: ubicacion;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ubicacion h3{
    transition: all 1s;
}

.ubicacion h3:hover{
    color: rgb(162, 165, 14);
}

.ubicacion p{
    transition: all 1s;
}

.ubicacion p:hover{
    color: rgb(162, 165, 14);
}

.ubicacion iframe{
    width: 300px;
    height: 200px;
    margin: 10px 0;
} 


/*--------------------------------------------------------------*/
                    /*  STYLES MAIN - PRODUCTOS  */
/*--------------------------------------------------------------*/

            /*MAIN - CATALOGO*/
.titulo{
    padding: 5px;
    font-family: MuseoModerno;
    color: lightgray;
    text-align: center;
}

.catalogo{
    background-color: #414833;
    padding: 0 20px;
    font-family: MuseoModerno;
    color: lightgray;
/*     display: flex;
    flex-wrap: wrap; */
    transition: all 1s;
}

.catalogo h2{
    margin: 5px;
}

.catalogo h2:hover{
    color: rgb(162, 165, 14);
}

.catalogo h4{
    border-bottom: 2px dotted lightyellow;
    margin: 10px 10px 0 10px;
    padding-bottom: 5px;
    text-align: center;
}

.catalogo h4:hover{
    color: rgb(162, 165, 14);
}

.catalogo p{
    margin: 10px 10px 0 10px;
    text-align: justify;
}

.cocinas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cocinas img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.cocinas img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.cocinas iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.dormitorios{
    display: flex;
    flex-wrap: wrap;
}

.dormitorios img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.dormitorios img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.dormitorios iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.livings{
    display: flex;
    flex-wrap: wrap;
}

.livings img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.livings img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.livings iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.escritorios{
    display: flex;
    flex-wrap: wrap;
}

.escritorios img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.escritorios img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.escritorios iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.exterior{
    display: flex;
    flex-wrap: wrap;
}

.exterior img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.exterior img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.exterior iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.racks{
    display: flex;
    flex-wrap: wrap;
}

.racks img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.racks img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.racks iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.qubos{
    display: flex;
    flex-wrap: wrap;
}

.qubos img{
    width: 200px;
    height: 120px;
    padding: 5px;
    transition: all 2s;
}

.qubos img:hover{
    transform: scale(1.9);
    z-index: 1;
}

.qubos iframe{
    width: 200px;
    height: 120px;
    padding: 5px;
}

.carruselProductos {
    width: 250px;
    height: 140px; 
    padding: 5px;
    transition: all 2s;
    z-index: 0;
}

.carruselProductos:hover{
    transform: scale(1.9);
}



/*--------------------------------------------------------------*/
                    /*  STYLES MAIN - SERVICIOS  */
/*--------------------------------------------------------------*/

            /*MAIN - SERVICIOS*/

.servicios {
    font-family: MuseoModerno;
    color: lightgray;
    background-color: #414833;
    text-align: center;
}

.servicios .tituloLimpieza{
    text-align: center;
    margin: 10px;
    transition: all 1s;
}

.servicios h1{
    text-align:start;
    margin: 10px;
    transition: all 1s;
    background-image: linear-gradient(to right,#414833, #778162);
}

.servicios h1:hover{
    color: rgb(162, 165, 14);
}

            /*MAIN - LIMPIEZA*/

.limpieza {
    display: flex;
    text-align: justify;
    margin-bottom: 15px;
    border-bottom: 2px dotted lightgreen;
    padding: 0 20px;
    background-image: linear-gradient(to top,#414833, #778162);
}

            /*MAIN - PREGUNTAS*/

.preguntas {
    border-bottom: 2px dotted lightgreen;  
    display: flex; 
    background-image: linear-gradient(to top,#414833, #778162);
}

.miAcordion{
    width: 70%;
    height: auto;
    padding: 10px;
}

.miAcordion__item{
     font-family: MuseoModerno;
     color: rgb(162, 165, 14);
     background-color: #464d3a;
     font-size: 16px; 
     text-align: justify;
}

.miAcordion__btn{
     font-family: MuseoModerno;
     color: coral;
     font-size: 16px; 
     background-color: #778162;
     height: 10px;
     padding: 15px;
}

.miAcordion__btn:focus{
    background-color: lightcoral;
    color: darkblue;
}

            /*MAIN - VERIFICACION*/

.verificacion {
    display: flex;
    text-align: justify;
    padding: 0 20px;
    background-image: linear-gradient(to top,#414833, #778162);
}


/*--------------------------------------------------------------*/
                    /*  FOOTER ALL PAGES  */
/*--------------------------------------------------------------*/

.footer{
    /* background-color: #414833; */
    border-top: 2px solid lightslategray;
    color: lightgray;   
    font-family: MuseoModerno;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    /* justify-content: space-evenly; */
    align-items: end;
    grid-area: footer;
    background-image: linear-gradient(to top, #414833 , #778162);
    margin-bottom: 10px;
}

.footer img{
    width: 100px;
    height: 55px; 
    display: inline-block;
    margin: 10px 0 0 10px;
}

.footer h4 {
    transition: all 1s;
}

.footer h4:hover {
    color: rgb(162, 165, 14);
}

.redes img{
    width: 32px;
    height: 32px;
}

.imgFace:hover{
    background-color:coral;
    border-radius: 50%; 
}

.imgInsta:hover{
    background-color:coral;
    border-radius: 40%; 
}

/*----------------------------------------------------------------------------------------------------------*/
        /* INDEX - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/

        /*  MOBILE  */

  @media screen and (max-width: 480px){

    .header{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navHome{
        font-size: 6px !important;
    } 

    .menu li a{
        font-size: 6px !important;
    }

    .imgHeader{
        width: 80px;
        height: 40px;
    }

    .presentacion{
        font-size: 10px;
        flex-wrap: wrap;
    }

    .novedades{
        flex-wrap: wrap;
    }

    .novedades ul{
        align-items: center;
    }
    .novedades a{
        font-size: 10px;
        text-align: center;
    }
    .novedades ul li a{
        font-size: 10px;
    }
    .novedades h2{
        font-size: 10px;
        text-align: center;
    }
    .novedades h3{
        font-size: 10px;
        text-align: center;
    }

    .video{
        flex-direction: column;
        flex-wrap: wrap; 
    }
    .video iframe{
        width: 90px;
        height: 53px;
    }

    .video p{
        font-size: 10px;
        width: 100px;
    }

    .footer{
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 10px;
    }
    .footer h4{
        font-size: 8px;
    }

    .footer img{
        width: 55px;
        height: 15px; 
    }

    .redes img{
        width: 16px;
        height: 16px;
    }
}

        /*  TABLET  */

 @media screen and (max-width: 768px){

    .header{
        font-size: 13px;
    }

    .navHome{
        font-size: 13px !important;
    } 

    .menu li a{
        font-size: 13px !important;
    }

    .imgHeader{
        width: 120px;
        height: 60px;
    }

    .presentacion{
        font-size: 13px;
    }

   .novedades ul{
        align-items: center;
    } 
    .novedades a{
        font-size: 13px;
        text-align: center;
    }
    .novedades ul li a{
        font-size: 13px;
    }
    .novedades h2{
        font-size: 13px;
        text-align: center;
    }
    .novedades h3{
        font-size: 13px;
        text-align: center;
    }

    .video{
        flex-wrap: wrap;
    }
    .video iframe{
        width: 90px;
        height: 53px;
    }

    .footer{
        font-size: 13px;
        justify-content:space-between;
        align-items: center;
    }

    .footer h4{
        font-size: 13px;
    }

    .footer .imgFooter{
        width: 100px;
        height: 35px; 
    }
    
    .redes img{
        width: 24px;
        height: 24px;
    }    

} 

/*---------------------------------------------------------------------------------------------------------*/
        /* NOSOTROS - @MEDIA */
/*----------------------------------------------------------------------------------------------------------*/

        /*  MOBILE  */

@media screen and (max-width: 480px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

    .reseña h2{
        font-size: 13px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reseña p{
        font-size: 8px;
        flex-direction: row;
        height: 250px;
        overflow:scroll;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }

    .contactoNosotros{
        flex-direction: column;
        justify-content: center;
    }

    .contactoNosotros h3{
        font-size: 8px;
    }

    .contactoNosotros h5{
        font-size: 8px;
    }

    .ubicacion {
        flex-direction: column;
        justify-content: center;
    }

    .ubicacion h3{    
        font-size: 13px;
    }

    .ubicacion p{    
        font-size: 10px;
    }

    .ubicacion iframe{
        width: 200px;
        height: 100px;
        margin: 5px 0;
    }

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/
} 

        /*  TABLET  */

@media screen and (max-width: 768px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

    .reseña{
        justify-content: center;
        align-items: center;
    }

    .reseña h2{
        font-size: 18px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reseña p{
        font-size: 14px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contactoNosotros{
        justify-content: center;
        font-size: 14px;
    }

    .contactoNosotros h3{
        font-size: 12px;
    }

    .contactoNosotros h5{
        font-size: 12px;
    }

    .ubicacion {
        align-items: center;
    }

    .ubicacion h3{    
        font-size: 18px;
    }

    .ubicacion p{    
        font-size: 13px;
    }

    .ubicacion iframe{
        width: 215px;
        height: 120px;
        margin: 10px 0;
    }

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

} 

/*---------------------------------------------------------------------------------------------------------*/
            /* CONTACTO - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
        
            /*  MOBILE  */

@media screen and (max-width: 480px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

    .contacto{
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    .contacto h1{
        font-size: 14px;
    }
    .contacto h2{
        font-size: 14px;
    }
    .formulario__contenido{
        font-size: 10px;
    }

    .formulario__contenido input:focus {
        width: 25%;
        font-size: 15px;
    }

    .chkboxForm input{
        margin-left: 5px;
    }

    .chkboxForm p{
        font-size: 10px;
    }

    .btnForm {
        font-family: MuseoModerno;
        color: rgb(3, 3, 51);
        font-size: 7px;
        background-color: lightcoral;
        margin-left: 5%;
    }

    .mapaForm { 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .imgForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mapaForm iframe{
        width: 215px;
        height: 120px;
    }
    
    .carruselContacto {
        width: 230px;
        height: auto;
    }

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

} 

        /*  TABLET  */

@media screen and (max-width: 768px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

    .contacto{
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    .contacto h1{
        font-size: 18px;
    }
    .contacto h2{
        font-size: 18px;
    }
    .formulario__contenido{
        font-size: 14px;
    }

    .formulario__contenido input:focus {
        width: 55%;
        font-size: 18px;
    }

    .chkboxForm input{
        margin-left: 10px;
    }

    .chkboxForm p{
        font-size: 14px;
    }

    .btnForm {
        font-size: 9px;
        margin-left: 10%;
    }

    .mapaForm { 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .imgForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mapaForm iframe{
        width: 280px;
        height: 150px;
    }
    
    .carruselContacto {
        width: 290px;
        height: auto;
    }
    
    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/
}

/*---------------------------------------------------------------------------------------------------------*/
            /* PRODUCTOS - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
       
                    /*MOBILE*/

@media screen and (max-width: 480px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

.titulo{
font-size: 14px;
}

.catalogo{
    padding: 0 10px;
}

.catalogo h2{
    margin: 5px;
    font-size: 14px;
}

.catalogo h4{
    margin: 5px 5px 0 5px;
    text-align: center;
    font-size: 12px;
}

.catalogo p{
    margin: 5px 5px 0 5px;
    text-align: justify;
    font-size: 10px;
}

.cocinas img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.cocinas iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.dormitorios img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.dormitorios iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.livings img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.livings iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.escritorios img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.escritorios iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.exterior img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.exterior iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.racks img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.racks iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.qubos img{
    width: 100px;
    height: 75px;
    padding: 2px;
}

.qubos iframe{
    width: 100px;
    height: 75px;
    padding: 2px;
}

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

}                     

        
                    /*TABLET*/

@media screen and (max-width: 768px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/
.titulo{
font-size: 18px;
}

.catalogo{
    padding: 0 10px;
}

.catalogo h2{
    margin: 5px;
    font-size: 18px;
}

.catalogo h4{
    margin: 5px 5px 0 5px;
    text-align: center;
    font-size: 14px;
}

.catalogo p{
    margin: 5px 5px 0 5px;
    text-align: justify;
    font-size: 12px;
}

.cocinas img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.cocinas iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.dormitorios img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.dormitorios iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.livings img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.livings iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.escritorios img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.escritorios iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.exterior img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.exterior iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.racks img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.racks iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.qubos img{
    width: 140px;
    height: 90px;
    padding: 3px;
}

.qubos iframe{
    width: 140px;
    height: 90px;
    padding: 3px;
}

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

}

/*---------------------------------------------------------------------------------------------------------*/
            /* SERVICIOS - @MEDIA */
/*---------------------------------------------------------------------------------------------------------*/
            
                    /*MOBILE*/
@media screen and (max-width: 480px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

.servicios .tituloLimpieza{
    margin: 10px;
    font-size: 14px;
}

.servicios h1{
    margin: 5px;
    font-size: 14px;
}

.servicios p{
    font-size: 10px;
}

.limpieza {
    margin-bottom: 7px;
    padding: 0 10px;
}

.miAcordion{
    width: 70%;
    height: auto;
    padding: 5px;
}

.miAcordion__btn{
    font-size: 8px;
    padding: 10px;
}

.miAcordion__item{
     font-size: 8px; 
     text-align: justify;
}


.verificacion {
    padding: 0 10px;
}

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

}
        
                    /*TABLET*/

@media screen and (max-width: 768px){

    /*HEADER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

.servicios .tituloLimpieza{
    margin: 15px;
    font-size: 18px;
}

.servicios h1{
    margin: 7px;
    font-size: 18px;
}

.servicios p{
    font-size: 12px;
}

.limpieza {
    margin-bottom: 10px;
    padding: 0 15px;
}

.miAcordion{
    width: 80%;
    height: auto;
    padding: 15px;
}

.miAcordion__btn{
    font-size: 12px;
    padding: 13px;
}

.miAcordion__item{
     font-size: 11px; 
     text-align: justify;
}


.verificacion {
    padding: 0 15px;
}

    /*FOOTER YA ESTA DEFINIDO EN LA @MEDIA DEL INDEX*/

}
