body{
    background-color: $colorPrincipal;
} 

    /* CONTACTO */

.contacto{
    font-family: $fuente;
    color: $colorSecundario;
    margin-bottom: 10px;
    @include flex(flex,column,nowrap);
    h1{
        padding: 5px;
        align-self: flex-start;
        margin: 20px 0 0 3%;
    }
    h2{
        border-bottom: 2px dotted $lineaPuntos;
        align-self:stretch;
        margin-left: 20%;
    }
}
        /* FORMULARIO */

.formulario{
    background-color: $colorPrincipal;
    background-image: linear-gradient(to bottom,$colorPrincipal, $gradienteClaro);
    .formulario__contenido{
        font-family: $fuente;
        color: $colorSecundario;
        @include flex(flex,column,nowrap);
        align-items: center;
        margin-left: 5%;
        input{
            transition: all 2s;
            width: 35%;
            &:focus{
                width: 50%;
                font-size: 24px;
            }
        }
        select{
            width: 20%;
        }
        textarea{
            width: 60%;
            margin-bottom: 1%;
        }
    }
    .chkboxForm{
        font-family: $fuente;
        color: $colorSecundario;
        @include flex(flex,row,nowrap);
        align-items: baseline; 
        justify-content: center;
        p{
            margin-left: 5%;
            color: rgb(3, 3, 51);
        }
        input{
            margin-left: 15px;
        }
    }
}

.mapaForm { 
    @include flex(flex,row,nowrap);
    iframe{
        width: 80%;
        height: 92%;
        margin: 10px; 
    }
}

.carruselContacto {
    width: 70%;
    height: auto; 
    transition: all 0,5s; 
    padding: 5px;
    &:hover{
        border: solid 3px $colorTerciario;
    }
}