/*--------------------------------------------------------------*/
                    /*  HEADER ALL PAGES  */
/*--------------------------------------------------------------*/

.header {
    @include flex(flex,row,nowrap);
    background-color: #414833; 
    justify-content: space-between;
    align-items:center;   
    grid-area: header;
    background-image: linear-gradient(to top, #414833 , #778162);
    .imgHeader{
        width: 10%;
        height:100%;
    }
    .miNav{
        background-image: linear-gradient(to top, #414833 , #778162);
        .navHome{
            font-family: MuseoModerno;
            color: lightgrey !important;
            font-size: 18px !important;
            &:hover{
                color: rgb(162, 165, 14) !important;
            }
        }
        .menu li{
            background-image: linear-gradient(to top, #414833 , #778162);
            a{
                font-size: 15px !important;
                color: lightgray !important;
                font-family: MuseoModerno;
                transition: all 0,5s;
                &:hover{
                    color: rgb(162, 165, 14) !important;
                }
            }
            .submenu li{
                background-image: linear-gradient(to right, #414833 , #778162);
                a:hover{
                    color: rgb(162, 165, 14) !important;
                    background-image: linear-gradient(to right, #414833 , #778162);
                }
            }
        }
    } 
}   
