/*--------------------------------------------------------------*/
                    /*  HEADER ALL PAGES  */
/*--------------------------------------------------------------*/

.header {
    @include flex(flex,row,nowrap);
    background-color: $colorPrincipal; 
    justify-content: space-between;
    align-items:center;   
    grid-area: header;
    background-image: linear-gradient(to top, $colorPrincipal , $gradienteClaro);
    .imgHeader{
        width: 10%;
        height:100%;
    }
    .miNav{
        background-image: linear-gradient(to top, $colorPrincipal , $gradienteClaro);
        .navHome{
            font-family: $fuente;
            color: $colorSecundario ;
            font-size: 18px;
            &:hover{
                color: $colorTerciario;
            }
        }
        .menu li{
            background-image: linear-gradient(to top, $colorPrincipal , $gradienteClaro);
            .menuNosotros{
                font-size: 15px;
                color: $colorSecundario;
                font-family: $fuente;
                transition: all 0,5s;
                &:hover{
                    color: $colorTerciario;
                }
            }
            a{
                font-size: 15px;
                color: $colorSecundario;
                font-family: $fuente;
                transition: all 0,5s;
                &:hover{
                    color: $colorTerciario;
                }
            }
            .submenu li{
                background-image: linear-gradient(to right, $colorPrincipal , $gradienteClaro);
                a:hover{
                    color: $colorTerciario;
                    background-image: linear-gradient(to right, $colorPrincipal , $gradienteClaro);
                }
            }
        }
    } 
}   
