/*--------------------------------------------------------------*/
        /*  STYLES INDEX  */
/*--------------------------------------------------------------*/

/* PRESENTACION */

.presentacion{
    @include flex(flex,column, nowrap);
    .miCarrusel{
        width: 40%;
        height: auto; 
        transition: all 2s; 
        filter: grayscale(100%);
        img{
            border-radius: 1%;
        }
        &:hover{
            filter: none;
            transform: scale(1.4);
        }
    }
    p{
        width: 80vw;
        height: 30vh;
        margin: 15px 0;
        font-family: $fuente;        
    } 
}

/* NOVEDADES */

.novedades{
    background-color: $colorPrincipal;
    background-image: linear-gradient(to left, $gradienteClaro, $colorPrincipal );
    @include flex(flex,column, nowrap);
    justify-content: space-evenly;
    ul{
        @include flex(flex,column,nowrap);
        align-items: flex-start;
        padding-left: 0;
        li{
            list-style-type:none;
            a{
                text-decoration: none;
                color: $colorSecundario;
                font-family: $fuente;
                font-size: 20px;
                text-align: justify;
                transition: all 1s;
                &:hover {
                    font-size: 25px;
                    color: $colorTerciario;
                }
            }
        }
    }
    h2{
        font-family: $fuente;    
        color: $colorSecundario;
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        text-align: justify;
        line-height: 1.7;
        transition: all 1s;
        &:hover{
            color: $colorTerciario;
            font-size: 20px;
        }
    }
    h3{
        color: lightcoral;
        font-family: $fuente;
        padding: 5px;
        font-size: 20px;
        text-align: justify;
        line-height: 1.7;
        transition: all 1s;
        &:hover{
            font-size: 22px;
        }
    }
    a{
        text-decoration: none;
        color: $colorTerciario;
        font-family: $fuente;
        padding: 5px;
        font-size: 20px;
        text-align: justify;
    } 
} 

/*VIDEOS */

.video{
    background-color: $colorPrincipal;
    background-image: linear-gradient(to left, $colorPrincipal , $gradienteClaro);
    @include flex(flex,row-reverse,wrap);
    align-items: center;
    justify-content: center;
    iframe{
        margin: 5px;
        width: 200px;
        height: 120px;
        &:hover{
            border: solid 3px $colorTerciario;
        }
    }
    p{
        padding-left: 10px;
        color: rgb(7, 7, 61);
        font-size: 16px;
        /* width: 250px; */
        transition: all 1s;
        font-family: $fuente;
        &:hover{
            color: $colorTerciario;
            font-size: 20px;
        }    
    }
}