$colorPrincipal:#414833;
$colorSecundario:lightgrey;
$colorTerciario: rgb(162, 165, 14);
$colorFace: #4267B2;
$colorInsta: #E1306C;
$fuente:MuseoModerno;
$lineaPuntos: lightgreen;
$gradienteClaro:#778162;
$tamañoFuente:62,5%;
